//Limits the size of the carousel
.carousel-height {
    height: 400;
    width: 700;
    max-width: 700;
}

.oswald-font {
    font-family: 'Oswald', sans-serif;
}

.link-color {
    color: $danger;
}

.list-group-item {
    background-color: gainsboro;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    max-height: 700;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Arvo', serif;
}

.btn {
    color: white;
}
